*{
  margin: 0px;padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.board{
  float: left;
  padding: 5px;
}
.board.success{
  background-color: rgba(0,255,0,.2);
}
.board.failed{
  background-color: rgba(255,0,0,.2);
}
.board.selected{
  background-color: rgba(255,255,0,.2);
}
.board.selected.success{
  box-shadow: inset 0px 0px 3px 5px rgba(0,255,0,.5);
}
.board.selected.failed{
  box-shadow: inset 0px 0px 3px 5px rgba(255,0,0,.5);
}

.box{
  margin: 3px;
  height: 20px; width: 20px;
  border: 1px solid black;
  float: left;
}
.box.on{
  background-color: blue;
}
.box.beenHereAlready{
  background-color: red;
}
.box.start{
  background-color: green;
}
.box.traversedBlock{
  background-color: rgba(255,0,255,.4);
}
.box.active{
  border: 4px solid orange;
}
#playButton,#new{
  margin: 10px;
  width: 100%;
  max-width: 200px;
  height: 40px;
}